<div id="root">
  <h1>URL Shortener</h1>

  <h3>Existing URLs</h3>
  <% @shortUrls.each do |u| %>
  <%= render "url-container", u: u %>
  <% end %>

  <%= link_to "Create URL", new_short_url_path %>
</div>