html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
}

div#root {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

div {
  box-sizing: content-box;
  margin: 0;
}

div.error {
  p {
    color: red;
    margin: 5px;
  }
}

textarea,
input {
  box-sizing: border-box;
}
