// Place all the styles related to the ShortUrls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form-group {
  margin: 10px 0;
  width: 100%;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 300px;
    overflow: auto;
  }
}

.shortened-url-container {
  height: fit-content;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 5px;
  p {
    margin: 3px 0;
  }
}

.link-action {
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  color: white;
  background-color: grey;
  margin: 3px 0;
}
